---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} 李文慧
  </div>
  <div class="inline opacity-75">
    Built with <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy</a>
  </div>
</footer>
<style></style>
