---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40" transition:persist="sidebar">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-5 pt-4 h-auto min-h-full w-[19rem] sidebar-bg text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6 avatar-entrance" transition:persist="sidebar-avatar">
      <a href="/">
        <div class="avatar-ring-wrap">
          <div class="avatar-ring-glow"></div>
          <div class="avatar block m-auto hover:scale-[102%] transition-transform">
            <div class="w-[8.5rem]">
              <Image class="mask mask-circle" format="webp" width={300} height={300} src="/profile.jpg" alt="Profile image" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
